/* SPINNER */

#spinner__bar_box {
	width: 10%;
}





/* RESTAURANTS */

#restaurants h2 {
	margin-left: 75px;
}

#restaurant__choix {
	display: flex;
	flex-wrap: wrap;
	width: 90%;
	margin: auto;
}

#restaurant__choix a {
	width: 48%;
	margin-right: 17px;
}





/* FONCTIONNEMENT */

.etape {
	width: 28%;
}

#fonctionnement h2 {
	margin-left: 75px;
}