/* SPINNER */

#spinner__bar_box {
	width: 15%;
}

/* ADRESSE */

#adresse p {
	margin: 10px 0 10px 0;
}

#adresse i {
	top: 14px;
	right: 160px;
}









/* EXPLORER */

#explorer h1 {
}

#explorer p {
	margin: 5px 10% 35px 10%;
}

#explorer a {
	padding: 12px 25px 12px 25px;
}









/* FONCTIONNEMENT */

#fonctionnement h2 {
	font-size: 1.4em;
 }

#fonctionnement_etape {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}


.etape {
	width: 42%;
	margin-left: 20px;
	font-size: 1.2em;
}






/* FOOTER */

footer h2 {
	font-size: 1.3em;
}

footer li {
	font-size: 1em;
}