/* MENUS */

.entrées, .plats, .dessert {
	margin: 0 0 20px 0;
}

.wrap {
	display: flex;
	flex-wrap: wrap;
	margin: auto;
	justify-content: center;
}

.choix_menus {
	width: 48%;
	margin: auto;
	margin-bottom: 15px;
}