

/* ADRESSE */

#adresse p {
	font-size: 1.4em;
	margin: 10px 0 10px 0;
}

#adresse i {
	font-size: 1.3em;
	top: 14px;
	right: 160px;
}









/* EXPLORER */

#explorer h1 {
	font-size: 2em;
}

#explorer p {
	font-size: 1.3em;
	margin: 5px 10% 35px 10%;
}

#explorer a {
	font-size: 1.5em;
	padding: 12px 25px 12px 25px;
}









/* FONCTIONNEMENT */

#fonctionnement h2 {
	font-size: 1.5em;
 }

#fonctionnement_etape {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}


.choisir, .composer, .déguster {
	width: 42%;
	margin-left: 20px;
	font-size: 1.2em;
}





/* FOOTER */

footer h2 {
	font-size: 1.6em;
}

footer li {
	font-size: 1.2em;
}